@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body {
	margin: 0px;
}

#shapka {
	width: 100%;
	height: 100px;
	background: #abe6ff;
}

#icon_cite {
	width: 70px;
	position: fixed;
	top: 12px;
	left: 17px;
}

#zagalovok {
	font-size: 60px;
	position: relative;
	left: 100px;
	top: 2px;
	font-family: 'Comic Neue', cursive;
}

#icon_reload {
	width: 70px;
}

#button_icon_reload {
	position: relative;
	top: 1px;
	right: 1px;
	background: #7ad8ff;
	border-color: #36c4ff;
	width: 10px;
}